<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
  <title>Chart using XML Data</title>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</head>

<body>
  <h1> Overzicht salaris per persoon</h1>
  <h3> Roze is voor vrouwen, blauw voor mannen</h3>
  <div id="my_dataviz"></div>
</body>
<script type="text/javascript">

  var margin = { top: 20, right: 30, bottom: 40, left: 90 },
    width = 1000 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;

  var svg = d3.select("#my_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  window.onload = function () {
    var dataPoints = [];
    var counter = 0;
    $.get("http://localhost:8080/users/", function (data) {
      $(data).each(function () {
        counter++;
        var $dataPoint = $(this);
        var y = $dataPoint[0]["salary"]
        var x = $dataPoint[0]["firstname"]
        var z = $dataPoint[0]["gender"]
        dataPoints.push({ FirstName: x, Salary: parseFloat(y), Gender: z });
      });

      dataPoints = dataPoints.sort(function (a, b) { return b.Salary - a.Salary; });
      console.log(dataPoints)

      var x = d3.scaleLinear()
        .domain([0, 180000])
        .range([0, width]);
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .selectAll("text")
        .attr("transform", "translate(-10,0)rotate(-45)")
        .style("text-anchor", "end");

      var y = d3.scaleBand()
        .range([0, height])
        .domain(dataPoints.map(function (d) { return d.FirstName; }))
        .padding(.1);
      svg.append("g")
        .call(d3.axisLeft(y))


      svg.selectAll("myRect")
        .data(dataPoints)
        .enter()
        .append("rect")
        .attr("x", x(0))
        .attr("y", function (d) { return y(d.FirstName); })
        .attr("width", function (d) { return x(d.Salary); })
        .attr("height", y.bandwidth())
        .attr("fill", function (d) { return ((d.Gender == "F") ? 'Pink' : 'Blue') })
    });
  }

</script>

</html>
